.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 20px;
  padding-top: 10px;
  color: black;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.card-media-wrapper {
  /* height: auto !important;
  width: auto !important; */
  min-width: 400px;
  min-height: 400px;
}

.carousel {
  margin-top: 70px;
  min-height: 80vh;
}
.carousel-2 {
  margin-top: -150px;
}
.carousel-inner {
  height: 60vh;
  display: flex;
}
.carousel-caption {
  color: #fff;
  top: 10%;
}

.center-content {
  margin-bottom: -100px;
}

.testimonial {
  margin-top:50px
}

.lime-img {
  height: 240px;
  width: 500px;
}

.lime-img-left {
  padding-right: 30px;
}

.lime-img-right {
  padding-left: 30px;
}


input[type=file]::file-selector-button {
  border: 2px solid #f3f3f6;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #6163FF;
  transition: 1s;
  margin-left: 150px;
}

input[type=file]::file-selector-button:hover {
  background-color: #167bff;
  border: 2px solid #167bff;
}

.submit-img {
  border: 2px solid #f3f3f6;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #6163FF;
  transition: 1s;
  margin-top: 50px;
}

.submit-img:hover {
  background-color: #167bff;
  border: 2px solid #167bff;
}

.results-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}